*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#site-header{
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-nav{
    background-color: orange;
    width: 80%;
    height: 80%;
}

#main-section{
    background-color: blue;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-main-section{
    background-color: rgb(237, 83, 201);
    width: 50%;
    height: 80%;

}

